<h1>Editing score</h1>

<% if session[:from] == "score" %>
  <%= simple_format("Student id = " + @score.student_id.to_s) %>
<%end%>

<%= render "form", score: @score %>

<br>

<div class='btn-group'>
    <%= link_to "Show this score", @score, class: 'btn btn-outline-primary' %> 
    <% if session[:from] == "student" %>
      <%= link_to "Back to students", students_path, class: 'btn btn-outline-primary' %>
    <% elsif session[:from] == "score" %> 
      <%= link_to "Back to scores", scores_path, class: 'btn btn-outline-primary'%>
    <%end%>
</div>

