<%= render @score %>

<div class='btn-group'>
  <%= link_to "Edit this score", edit_score_path(@score) , class: 'btn btn-outline-primary'%>
  
  <% if session[:from] == "student" %>
    <%= link_to "Back to student", students_path, class: 'btn btn-outline-primary' %>
  <% elsif session[:from] == "score" %> 
    <%= link_to "Back to scores", scores_path, class: 'btn btn-outline-primary' %>
  <%end%>
</div>

<br>
<br>
<%= button_to "Destroy this score", @score, method: :delete , class: 'btn btn-danger' %>

